<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.goodiebag"
        coreApp="true"
        android:sharedUserId="android.uid.system">

    <original-package android:name="com.android.goodiebag" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_USB" />

    <application android:label="@string/settings_label"
            android:icon="@mipmap/ic_launcher_goodies"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:hardwareAccelerated="true">

        <!-- Settings -->

        <activity android:name="Settings"
                android:label="@string/settings_label"
                android:taskAffinity="com.android.goodiebag"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
